@font-face {
  font-family: 'Press Start 2P';
  src: url('PressStart2P-Regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Inter Variable';
  src: local('Inter-Variable') url('Inter_variable.woff2') format('woff2');
  font-weight: 410 717;
}